.DS_Store
.gitignore
.trunk/trunk.yaml
.vscode/launch.json
.vscode/tasks.json
Inventory_System/Inventory_System.csproj
Inventory_System/Program.cs
Inventory_System/bin/Debug/net7.0/CsvHelper.dll
Inventory_System/bin/Debug/net7.0/work_project
Inventory_System/bin/Debug/net7.0/work_project.deps.json
Inventory_System/bin/Debug/net7.0/work_project.dll
Inventory_System/bin/Debug/net7.0/work_project.pdb
Inventory_System/bin/Debug/net7.0/work_project.runtimeconfig.json
Inventory_System/obj/project.assets.json
Inventory_System/obj/project.nuget.cache
Inventory_System/obj/work_project.csproj.nuget.dgspec.json
Inventory_System/obj/work_project.csproj.nuget.g.props
Inventory_System/obj/work_project.csproj.nuget.g.targets
Inventory_System/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Inventory_System/obj/Debug/net7.0/apphost
Inventory_System/obj/Debug/net7.0/work_project.AssemblyInfo.cs
Inventory_System/obj/Debug/net7.0/work_project.AssemblyInfoInputs.cache
Inventory_System/obj/Debug/net7.0/work_project.assets.cache
Inventory_System/obj/Debug/net7.0/work_project.csproj.AssemblyReference.cache
Inventory_System/obj/Debug/net7.0/work_project.csproj.CopyComplete
Inventory_System/obj/Debug/net7.0/work_project.csproj.CoreCompileInputs.cache
Inventory_System/obj/Debug/net7.0/work_project.csproj.FileListAbsolute.txt
Inventory_System/obj/Debug/net7.0/work_project.dll
Inventory_System/obj/Debug/net7.0/work_project.GeneratedMSBuildEditorConfig.editorconfig
Inventory_System/obj/Debug/net7.0/work_project.genruntimeconfig.cache
Inventory_System/obj/Debug/net7.0/work_project.GlobalUsings.g.cs
Inventory_System/obj/Debug/net7.0/work_project.pdb
Inventory_System/obj/Debug/net7.0/ref/work_project.dll
Inventory_System/obj/Debug/net7.0/refint/work_project.dll
Inventory_System/inventory.csv
