.vscode/launch.json
.vscode/tasks.json
Inventory_System/bin/Debug/net7.0/CsvHelper.dll
Inventory_System/bin/Debug/net7.0/Inventory_System
Inventory_System/bin/Debug/net7.0/Inventory_System.deps.json
Inventory_System/bin/Debug/net7.0/Inventory_System.dll
Inventory_System/bin/Debug/net7.0/Inventory_System.pdb
Inventory_System/bin/Debug/net7.0/Inventory_System.runtimeconfig.json
Inventory_System/obj/Inventory_System.csproj.nuget.dgspec.json
Inventory_System/obj/Inventory_System.csproj.nuget.g.props
Inventory_System/obj/Inventory_System.csproj.nuget.g.targets
Inventory_System/obj/project.assets.json
Inventory_System/obj/project.nuget.cache
Inventory_System/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Inventory_System/obj/Debug/net7.0/apphost
Inventory_System/obj/Debug/net7.0/Inventory_System.AssemblyInfo.cs
Inventory_System/obj/Debug/net7.0/Inventory_System.AssemblyInfoInputs.cache
Inventory_System/obj/Debug/net7.0/Inventory_System.assets.cache
Inventory_System/obj/Debug/net7.0/Inventory_System.csproj.AssemblyReference.cache
Inventory_System/obj/Debug/net7.0/Inventory_System.csproj.CopyComplete
Inventory_System/obj/Debug/net7.0/Inventory_System.csproj.CoreCompileInputs.cache
Inventory_System/obj/Debug/net7.0/Inventory_System.csproj.FileListAbsolute.txt
Inventory_System/obj/Debug/net7.0/Inventory_System.dll
Inventory_System/obj/Debug/net7.0/Inventory_System.GeneratedMSBuildEditorConfig.editorconfig
Inventory_System/obj/Debug/net7.0/Inventory_System.genruntimeconfig.cache
Inventory_System/obj/Debug/net7.0/Inventory_System.GlobalUsings.g.cs
Inventory_System/obj/Debug/net7.0/Inventory_System.pdb
Inventory_System/obj/Debug/net7.0/ref/Inventory_System.dll
Inventory_System/obj/Debug/net7.0/refint/Inventory_System.dll
